.hat{
    display: flex;

    background-color: #FFB8CA;
    z-index: 0;
}
.hat__container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.hat__h{
    width: 277px;
    height: 137px;
    margin-top: 84px;
    margin-left: 115px;
    margin-right: 83px;

    text-align: left;
}
.hat__h__one{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.16em;

    color:#FFFFFF;
}
.hat__h__two{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 58px;
    line-height: 0.9em;

    color: #D41443;
}
.hat__list__buttons{
    display: flex;

    margin-top: 25px;
    margin-bottom: 56px;
    margin-left: 115px;
    margin: 25px 103px 56px 115px;
    :not(:last-child){
        margin-right: 25px;
    }
}
.hat__arrow__button{
    position: relative;
}
.hat__arrow__button .arrow__button{
    display: flex;
    justify-content: center;
    position: absolute;
    
    padding: 8px;
    margin-top: 0;
    margin-bottom: 56px;
    margin-left: 30px;
    left: -328px;
    bottom: 0px;

    border-radius: 50%;
    border: none;
    
    svg{
        color: #D41443;
        fill: #D41443;
    }
    &:hover{
        background-color: #D41443;
        cursor: pointer;
        
        svg{
        color: #FFFFFF;
        fill: #FFFFFF;
        }
    }
}
.hat__milk{
    display: flex;
}
.hat__text{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42em;

    width: 200px;
    height: 78px;
    margin: 56px 99px 102px 30px;

    color: #FFFFFF;
}
.hat__mid__image{
    position: relative;
    display: flex;
    margin: 37px 48px 0px 0px;
    width: 236px;
    height: 557px;
    z-index: 2;
}
.hat__circle{
    position: absolute;
    width: 538px;
    height: 538px;
    left: -120px;
    bottom: 90px;

    background: #FFA5BA;
    z-index: 1;
    border-radius: 50%;
}
.hat__left__img{
    width: 188px;
    height: 191px;
    margin-left: 77px;
    margin-bottom: 45px;
}
.hat__right__img{
    position: absolute;

    margin-top: 109px;
    margin-right: 109px;
    margin-bottom: 0px;
    width: 293px;
    height: 232px;
    top: 253px;
    z-index: 2;
}
.hat__right__container{
    position: relative;
    display: flex;
    flex-direction: column;

    height: 238px;
}
.hat__desc__list{
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 109px;
}
.hat__desc__list__item:not(:last-child){
    margin-bottom: 15px;
}
.hat__desc__number{
    position: relative;
    display: flex;
    justify-content: right;

    margin-bottom: 2px;
    margin-left: 215px;
    margin-top: 38px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15em;

    color: #D41443;
    z-index: 2;
}
.hat__number__circle{
    position: absolute;
    display: block;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: -6%;
    
    background-color: #fff;
    z-index: 1;
}
.hat__desc__text{
    position: absolute;
    text-align: right;

    width: 74px;
    height: 18px;
    margin-left: 234px;
    right: 0px;

    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3em;

    color: #FFFFFF;
}


