.header{
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    background-color: #FFB8CA;
}

// --- logo ---
.logo {
    position: relative;
    width: 199px;
    height: 50px;

    margin-top: 37px;
    margin-right: 110px;
    margin-left: 46px;
}

// --- NAV ---
nav{
    display: flex;
    z-index: 2;
}
.nav__list{
    display: flex;
    align-content:center;

    margin-top: 50px;
}
.nav__item{
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3em;

    color:#FFFFFF;
    &:hover{
        color:#D41443;
        cursor: pointer;
    }
    
&:not(:last-child){
    margin-right: 35px;
}
}
.header__button__container{
    margin-top: 38px;
    margin-left: 110px;
    margin-right: 115px;

.generic__button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;

    width: 159px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 0.46em;
    }
}


.generic__button:hover .header__svg{
    color: #FFFFFF;
    fill: #FFFFFF;
}
.header__svg{
        width: 12px;
        height: 28px;
        margin-left: 12px;
        color: #D41443;
        fill: #D41443;
    }